node_modules
.svn
.idea
.vscode
.sass-cache
.DS_Store
.git-credentials
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.log*
*.tar
*.rar
*.zip
*.gz
*.7z
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
test/unit/coverage
test/e2e/reports
static-cache-wrap/static-cache/admin/gallery
static-cache-wrap/static-cache/phone/gallery
static-cache-wrap/static-cache/pc/gallery
