@import "../config/g-config";

// 数据加载中(初次应用：底部加载更多)
.g-loading-dialog {
    @extend .g-reset_font;
    font-size: px2rem(30);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $g-font-color_default;
    box-sizing: border-box;
    &.g-loading-dialog_normal {
    }
    &.g-loading-dialog_highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.6);
    }
    &.g-loading-dialog_dark {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
    }
}

.g-loading-dialog-icon {
    animation: g-animation_run 1s linear infinite;
}
