@import "../config/g-config";

// 下拉框
.g-select {
    @extend .g-reset_font;
    $mark-font-size: 12;
    $mark-width: 20;
    $select-padding-left: 10;
    $select-padding-right: $mark-width;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    height: px2rem(40);
    background: #ffffff;
    border: px2rem(1) solid $g-border-color_default;
    box-sizing: border-box;
    // 小的选择框
    &.g-select_small {
        height: px2rem(30);
    }
    select.g-select-body {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        background: transparent;
        border-radius: inherit;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        flex: 1;
        height: 100%;
        padding-left: px2rem($select-padding-left);
        padding-right: px2rem($select-padding-right);
        border: none;
        &:disabled {
            cursor: not-allowed;
        }
    }
    .g-select-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem($mark-font-size);
        color: #000000;
        width: px2rem($mark-width);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: inherit;
    }
}
