@import "../config/g-config";

// 重置字体
.g-reset_font {
    font: px2rem($g-font-size_default) "Helvetica Neue", "Helvetica", "微软雅黑", "iconfont";
    color: px2rem($g-font-color_default);
    line-height: 1;
}

// 重置a标签
.g-reset_a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

// 图片重置
.g-reset_img {
    border: none;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}
