@import "../config/config";

.g-dialog-jump-link {
    line-height: px2rem(24);
    text-align: center;
    font-size: px2rem($g-font-size-default);
    .g-dialog-jump-link-title {
        color: $g-highlight-color;
    }
    .g-dialog-jump-link-body {
        display: flex;
        .g-dialog-jump-link-body-seconds {
            color: $g-highlight-color;
        }
        .g-dialog-jump-link-body-page-title {
            color: $g-highlight-color;
        }
    }
    .g-dialog-jump-link-footer {
        color: $g-highlight-color;
    }
}
