@import "../config/g-config";
.g-navigation {
    @extend .g-reset_font;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    .g-navigation-item {
        $width-height: 64;
        width: px2rem($width-height);
        height: px2rem($width-height);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        .g-navigation-item-icon {
            $width-height: 24;
            width: px2rem($width-height);
            height: px2rem($width-height);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: px2rem($width-height);
            color: $g-color_highlight;
        }
        .g-navigation-item-text {
            font-size: px2rem(12);
            margin-top: px2rem(6);
        }
        .g-navigation-item-mark {
            $width-height: 6;
            width: px2rem($width-height);
            height: px2rem($width-height);
            border-radius: 50%;
            background: $g-color_highlight;
            position: absolute;
            right: px2rem(4);
            top: px2rem(4);
        }
    }
}
