@import "../config/g-config";
// 单选框
.g-radio {
    @extend .g-reset_font;
    display: flex;
    align-items: center;
    user-select: none;
    &.g-radio_small {
        .g-radio-body {
            $height: 16;
            width: px2rem($height);
            height: px2rem($height);
            .g-radio-body-mark {
                font-size: px2rem(12);
            }
        }
    }
    .g-radio-body {
        $height: 20;
        position: relative;
        width: px2rem($height);
        height: px2rem($height);
        background: #ffffff;
        border-radius: px2rem(2000);
        display: flex;
        align-items: center;
        justify-content: center;
        .g-radio-body-main {
            margin: 0;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2rem(1) solid $g-border-color_default;
            transition: 0.2s;
            &:checked {
                border-color: $g-color_highlight;
                & + .g-radio-body-mark {
                    transform: scale(1);
                }
            }
            &:disabled {
                background: $g-background-color_disabled;
                border-color: $g-border-color_disabled;
                cursor: not-allowed;
            }
        }
        .g-radio-body-mark {
            transition: 0.2s;
            transform: scale(0);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            color: $g-color_highlight;
            font-size: px2rem(16);
        }
    }
    .g-radio-text {
        line-height: 1;
        margin-left: px2rem(4);
    }
}
