// 行和列
.g-row {
    display: flex;
    flex-wrap: wrap;
    .g-col {
        flex: 1;
        width: 0;
        margin-right: px2rem(20);
        &:last-of-type {
            margin-right: 0;
        }
    }
}
