// 排序切换
.g-sort-tab {
    display: flex;
    height: px2rem(40);
    background: #ffffff;
    line-height: 1;
    .g-sort-tab-item {
        width: 0;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &.g-sort-tab-item_up { // 升序
            .g-sort-tab-item-icon-item {
                &:first-of-type {
                    color: $g-danger-color;
                }
            }
        }
        &.g-sort-tab-item_down { // 降序
            .g-sort-tab-item-icon-item {
                &:last-of-type {
                    color: $g-danger-color;
                }
            }
        }
    }
    .g-sort-tab-item-text {
        font-size: px2rem(12);
    }
    .g-sort-tab-item-icon {
        color: #999999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: px2rem(12);
    }
    .g-sort-tab-item-icon-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(12);
        height: px2rem(8);
    }
}
