.ui1 {
    width: 100px;
    height: 100px;
}
.ui2 {
    width: 100px;
    height: 100px;
}
.ui3 {
    width: 100px;
    height: 100px;
}
.ui4 {
    width: 100px;
    height: 100px;
}
.ui5 {
    width: 100px;
    height: 100px;
}
