@font-face {
    font-family: 'iconfont';  /* project id 814235 */
    src: url('//at.alicdn.com/t/font_814235_iwmxkobe69o.eot');
    src: url('//at.alicdn.com/t/font_814235_iwmxkobe69o.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_814235_iwmxkobe69o.woff') format('woff'),
    url('//at.alicdn.com/t/font_814235_iwmxkobe69o.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_814235_iwmxkobe69o.svg#iconfont') format('svg');
}

.g-iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    line-height: 1;
}

.g-icon-success:before {
    content: "\e673";
}

.g-icon-failure:before {
    content: "\e672";
}

.g-icon-warning:before {
    content: "\e670";
}

.g-icon-more:before {
    content: "\e675";
}

.g-icon-delete:before {
    content: "\e631";
}

.g-icon-loading:before {
    content: "\e64a";
}

.g-icon-upload-img:before {
    content: "\e64b";
}

.g-icon-select:before {
    content: "\e651";
}

.g-icon-checkbox:before {
    content: "\e652";
}

.g-icon-radio:before {
    content: "\e653";
}

.g-icon-no-data:before {
    content: "\e666";
}

.g-icon-prev:before {
    content: "\e66d";
}

.g-icon-next:before {
    content: "\e66e";
}

.g-icon-required:before {
    content: "\e67a";
}

.g-icon-close:before {
    content: "\e682";
}

.g-icon-up:before {
    content: "\e689";
}

.g-icon-right:before {
    content: "\e68a";
}

.g-icon-down:before {
    content: "\e68b";
}

.g-icon-left:before {
    content: "\e68c";
}

.g-icon-star:before {
    content: "\e693";
}

.g-icon-star_solid:before {
    content: "\e694";
}
