@import "../config/g-config";

/* 字体颜色 */
.g-font-color_highlight {
    color: $g-color_highlight !important;
}

.g-font-color_success {
    color: $g-color_success !important;
}

.g-font-color_warning {
    color: $g-color_warning !important;
}

.g-font-color_danger {
    color: $g-color_danger !important;
}

.g-font-color_ignore {
    color: $g-color_ignore !important;
}

.g-font-color_white {
    color: white !important;
}

/* 背景颜色 */
.g-background-color_white {
    background-color: white !important;
}

/* 工具样式 */
.g-display_inline {
    display: inline !important;
}

.g-display_inline-block {
    display: inline-block !important;
}

.g-display_block {
    display: block !important;
}

.g-display_none {
    display: none !important;
}

.g-display_flex {
    display: flex !important;
}

.g-flex_1 {
    flex: 1 !important;
}

.g-flex_0 {
    flex: none !important;
}

.g-justify-content_center {
    justify-content: center !important;
}

.g-align-items_center {
    align-items: center !important;
}

.g-float_left {
    float: left !important;
}

.g-float_right {
    float: right !important;
}

/* text-indent */
.g-text-indent_0 {
    text-indent: 0 !important;
}

/* transition */
.g-transition {
    transition: 0.4s !important;
}

/* opacity */
.g-opacity_0 {
    opacity: 0 !important;
}

.g-opacity_1 {
    opacity: 1 !important;
}

/* width */
@each $value in 80, 100, 120, 140, 160 {
    .g-width_#{$value} {
        width: px2rem($value) !important;
    }
}

.g-width_auto {
    width: auto !important;
}

.g-width_100p {
    width: 100% !important;
}

/* height */
@each $value in 30, 40 {
    .g-height_#{$value} {
        height: px2rem($value) !important;
    }
}

.g-height_auto {
    height: auto !important;
}

.g-height_100p {
    height: 100% !important;
}

/* margin 和 padding */
@each $attr in margin, padding {
    @each $value in 0, 5, 10, 20 {
        .g-#{$attr}_#{$value} {
            #{$attr}: px2rem($value) !important;
        }
        .g-#{$attr}-top_#{$value} {
            #{$attr}-top: px2rem($value) !important;
        }
        .g-#{$attr}-right_#{$value} {
            #{$attr}-right: px2rem($value) !important;
        }
        .g-#{$attr}-bottom_#{$value} {
            #{$attr}-bottom: px2rem($value) !important;
        }
        .g-#{$attr}-left_#{$value} {
            #{$attr}-left: px2rem($value) !important;
        }
        .g-#{$attr}-top-bottom_#{$value} {
            #{$attr}-top: px2rem($value) !important;
            #{$attr}-bottom: px2rem($value) !important;
        }
        .g-#{$attr}-left-right_#{$value} {
            #{$attr}-left: px2rem($value) !important;
            #{$attr}-right: px2rem($value) !important;
        }
    }
}

/* border */
@each $attr in top, right, bottom, left {
    .g-border-#{$attr}_none {
        border-#{$attr}: none !important;
    }
}

.g-border_none {
    border: none !important;
}

/* border-radius */
@each $value in 0, 4, 6, 8, 10, 2000 {
    .g-border-radius_#{$value} {
        border-radius: px2rem($value) !important;
    }
}

/* 清除浮动 */
.g-clearfix {
    &:after {
        content: '';
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

/* 文字超出显示省略号 */
.g-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 水平垂直居中 - 伪类 */
.g-xy-center_sham {
    font-size: 0;
    text-align: center;
    & > :nth-child(n) {
        display: inline-block;
        vertical-align: middle;
    }
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

/* 水平垂直居中 - flex */
.g-xy-center_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-all;
}
